<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <tr>
            <td>Addtwonumbers</td>
            <table>
                <tr>
                    <td>Number1</td>
                    <td><input type="text" name="txtnumber" required></td>
                </tr>
                <tr>
                    <td>number2</td>
                    <td><input type="text" name="txtnumber" required></td>
                </tr>
                <tr>
                    <td colspan="2" algin="center"><input type="submit" name="btnsubmit" value="Submit"></td>
                    </tr>
                         </table>
    </form>
</body>
</html>