{%load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Email</td>
                <td><input type="email" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
</body>
</html> -->




<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'Login/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Login/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'Login/assets/css/style.css' %}" rel="stylesheet">

    <title>Educational Bootstrap 5 Login Page Website Tampalte</title>
  </head>
  <body>
    <section class="form-02-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
                <form method="post">
                    {% csrf_token %}
                
              <div class="form-03-main">
                <div class="logo">
                  <img src="{% static 'Login/assets/images/user.png' %}">
                </div>
                <div class="form-group">
                  <input type="email" name="txt_email" class="form-control _ge_de_ol" type="text" placeholder="Email" required="" aria-required="true">
                </div>

                <div class="form-group">
                  <input type="password" name="txt_password" class="form-control _ge_de_ol" type="text" placeholder="Password" required="" aria-required="true">
                </div>

                <div class="checkbox form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                      Remember me
                    </label>
                  </div>
                  <a href="#">Forgot Password</a>
                </div>

                <div class="form-group">
                  <div class="_btn_04">
                    <button class="btn btn-default" type="submit" >Login</button>
                  </div>
                </div>

                <div class="form-group nm_lk"><a href="{%url 'Guest:index' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-houses-fill" viewBox="0 0 16 16">
                  <path d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.5 2.5 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z"/>
                  <path d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z"/>
                </svg></a></div>

                <div class="form-group pt-0">
                  <div class="_social_04">
                    <ol>
                      <li><i class="fa fa-facebook"></i></li>
                      <li><i class="fa fa-twitter"></i></li>
                      <li><i class="fa fa-google-plus"></i></li>
                      <li><i class="fa fa-instagram"></i></li>
                      <li><i class="fa fa-linkedin"></i></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</form>
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
  </body>
</html>