{% load static %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Breezed HTML Bootstrap Template</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed


-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'Main/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'Main/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'Main/assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'Main/assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'Main/assets/css/lightbox.css' %}">

    <link rel="stylesheet" href="{% static 'form.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" style="background-color: rgb(0, 128, 111);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            .BREEZED
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'Company:homepage' %}" class="active">Home</a></li>
                            <li><a href="{% url 'Company:my_pro' %}">Profile</a></li>
                            <li><a href="{% url 'Company:requestlist' %}">RequestList</a></li>
                            <li><a href="{% url 'Company:requestListAccepted' %}">RequestListAccepted</a></li>
                            <li><a href="{% url 'Company:requestListRejected' %}">RequestListRejected</a></li>
                            
                            <div class="search-icon">
                                <a href="#search"><i class="fa fa-search"></i></a>
                            </div>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

<div style="min-height: 700px; padding: 30px;" align="center" id="tab">

    {% block content %}
    {% endblock content %}
</div>











          
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Breezed Co., Ltd. 
                        
                        - Design: <a rel="nofollow noopener" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'Main/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'Main/assets/js/popper.js' %}"></script>
    <script src="{% static 'Main/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'Main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'Main/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'Main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'Main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'Main/assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'Main/assets/js/slick.js' %}"></script> 
    <script src="{% static 'Main/assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'Main/assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'Main/assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>