{% extends 'Company/Header.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RequestListAccepted</title>
</head>
<body>
    <br><br><br><br><br>
    {% csrf_token %}
    <table border="2" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        {% for i in requestdata %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.request_date}}</td>
            <td>{{i.request_amount}}</td>
            <td>
                <a href="{% url 'Company:rejectrequest' i.id %}">Reject</a> 
                <a href="{% url 'Company:waste' i.id %}">Collect</a>
            </td>
        </tr>    
        {% endfor %}

    </table>
</body>
</html>

{% endblock content %}