{% extends 'Adminstrator/Header.html' %}
{% load static %}
{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
        <h1 align="center">Reply</h1>
        <table align="center" cellpadding="10" border="2">
          <tr>
            <td>Reply</td>
            <td><input type="text" name="txtname"  required ></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                  <input type="submit" name="btnsubmit" value="submit">
                  <input type="reset" name="btncancel" value="Cancel">
                </td>
                </tr>
            </table>
          </form>
            </body>
           </html>
           
    {% endblock content %}